h2{
    text-align: center;
}
.capitalize {
   text-transform: capitalize;
}

.center{
    text-align: center;
}
.header{
    background: #57A4E6; /* For browsers that do not support gradients */
    margin-bottom: 30px;
    color:whitesmoke;
    border-radius: 1px 1px 15px 15px;
}
.box{
    margin-top: 30px;
    margin-bottom: 30px;
}
.box_bleu{
    background-color: #001f3f;
    border-radius: 15px;
    padding:10px;
    color:white;
    margin-bottom: 80px;
}

.box_vert{
    background-color: #1D4A83;
    border-radius: 15px;
    padding:10px;
    color:white;
}

.partie_grise{
    margin-bottom: 30px;
    background-color: #1D4851;
    border-radius: 15px;
    color:white;

}
.axis {
    font: 15px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}
#chart {
    position: relative;
    top: 0px;
    left: -50px;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 9px 14px 6px 14px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}  
.toolTip span {
    font-weight: 500;
    color: #081F2C;
}
.list-none{
   list-style-type: none;
}

img{
    border-radius:15px;
}
.experiences{
    list-style: none;
    font-size: 1.25rem;
}
.show{
    display:block;
}
.hidden{
    display:none;
}

@media screen and (max-width: 991px) {
    
}
@media screen and (max-width: 768px) {
    .show{
        display:none;
    }
    .hidden{
        display:block;
    }
    
}