
<div id="creation" class="container">
    <br>
    
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/maquetteChrisThomas/"><img src="assets/images/blueasy.png" width="100%"/></a>
            <p class="titre">Integration de themes : uniquement CSS</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/langerba/bootstrap_chrisNat/"><img src="assets/images/langerba.png" width="100%" /></a>
            <p class="titre">Integration de themes : utilisation de bootstraps</p>
        </div>
    </div>
      
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/javascriptGames/javascript/WebContent/"><img src="assets/images/javascriptGames.png" width="100%"/></a>
            <p class="titre">Découverte du Javascript</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/BECHIK/WebContent/"><img src="assets/images/vertorange.png" width="100%"/></a>
            <p class="titre">Création d'un site from scratch</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/last%20constitution0.2/"><img src="assets/images/last_constitution0.2.png" width="100%"/></a>
            <p class="titre">last constitution</p>
        </div>
        <div class="col-xs-12 col-lg-6">
            <a href="http://localhost/explofichier_bechtho/"><img src="assets/images/explofichier_bechtho.png" width="100%"/></a>
            <p class="titre">Création d'un gestionnaire de contenu</p>
        </div>     
    </div>

    <div class="joke">
        <p >{{jokes.value.joke}}</p>
    </div>
</div>


