<div id="conteneur" class="container">    
    <h1 id="header"><span>MANACH Christian</span></h1>

    <div class="row">
        <div id="interet" class="box_vert col-md-6">
            <h2>Centres d'intérêt :</h2>
            <ul >
                <li>Internet</li>
                <li>impression 3D</li>
                <li>travail manuel</li>
                <li>cuisine</li>
                <li>Japonais</li>
            </ul>
        </div>
        <div id="hobbies" class=" box_bleu col-md-6">
            <h2>Loisirs :</h2>
            <ul>
                <li>Jeux videos :</li>
                <p>les jeux poétiques et immersifs surtout</p>
                <li>Mangas :</li>
                <p>les Shonens et les seinens</p>
                <li>Animes :</li>
                <p>les nekketsus, principalement</p>
                <li>Comics :</li>
                <p>les DC sont mes préférés</p>
                <li>Randonnées :</li>
                <p>avec des amis</p>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="disponibilité" class="desktop box_bleu col-md-6">
            <h2>Disponibilité : </h2>
            <ul>
                <li>en recherche d'emploi.</li>

            </ul>
        </div>

        <div id="zone" class="box_vert col-md-6">
            <h2>Zone Géographique :</h2>
            <ul>
                <li>Corrèze</li>
                <li>Lot</li>
                <li>Bretagne</li>
            </ul>
        </div>
        <div style="height:300px">
        </div>
        
        
        <div id="disponibilité" class="smartphone box_bleu col-md-6">
            <h2>Disponibilité : </h2>
            <ul>
                <li>en recherche d'emploi.</li>

            </ul>
        </div>
    </div>
</div>